
        *{
         text-align: center;
         color:green;   
        }
        p{
            text-align: justify;
            color: red;
        }
        #p{
            color: blueviolet;
        }
        .p{
            color: chartreuse;
        }
